<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>模块化引入</title>
        <style>
        .control {
            position: relative
        }

        video,
        canvas {
            position: absolute
        }
    </style>
	</head>
	<body>
		<div>
			<face-div display-box="true"></face-div>
		</div>
	</body>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/socket.io.slim.js"></script>
	<script src="../static/js/face.js"></script>
	<script>
		$(document).ready(function() {

			$.face('https://192.168.123.222:5001', {
				model: 'GEN',
                debug: false,
				success: function(result) {
					console.log(result)

				}
			})
		})
	</script>
</html>
