<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>模块化引入</title>
	</head>
	<body>
		<div>
		    <p id="msg"></p>
		</div>
		<div>
			<face-div display-box="false"></face-div>
		</div>
	</body>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/socket.io.slim.js"></script>
	<script src="../static/js/face.js"></script>
	<script>
		$(document).ready(function() {

			$.face('https://192.168.20.196:5001', {
				model: 'GEN',
                debug: false,
                width: '640px',
				height: '480px',
				success: function(result) {
					console.log(result)
                    $('#msg').text(result.msg)
				}
			})
		})
	</script>
</html>
