<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Face Demo</title>
</head>

<body>
    <div>
        <button onclick="start()">开启</button>
        <button onclick="stop()">关闭</button>
        <div id='my_camera'></div>
        <canvas width="500" id="canvas" height="480" style="display: inline;"></canvas>
        <image id='remote'></image>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js"></script>
<script src="https://cdn.bootcss.com/webcamjs/1.0.25/webcam.min.js"></script>
<script type="text/javascript">
    var canvas = $("#canvas");
    var ctx = canvas.get()[0].getContext('2d');
    var noticeSocket = io.connect('http://127.0.0.1:5001/notice');
    var boxpoint;
    noticeSocket.on('server', function(data) {
        boxpoint = data.data
        console.log($.parseJSON(boxpoint))
    });
    Webcam.set({
        width: 320,
        height: 240,
        image_format: 'jpeg',
        jpeg_quality: 90,
        flip_horiz: true
    });
    Webcam.attach('#my_camera')
    Webcam.on("error", function(err) {
        var message;
        if ((err instanceof Webcam.errors.FlashError) || (err instanceof Webcam.errors.WebcamError)) {
            message = err.message;
        } else {
            message = "Could not access webcam: " + err.name + ": " +
                err.message + " " + err.toString();
        }
        console.log(message);
    })

    var timer = null

    function start() {
        timer = setInterval(
            function() {
                Webcam.snap(function(data_uri) {
                    noticeSocket.emit('unknown_img', {
                        data: data_uri
                    })
                });
            }, 200);
        console.log(timer)
    }

    function stop() {
        console.log(timer)
        clearInterval(timer)
    }
</script>

</html>